:root {
  --text-border-color: #00a2ff;
  --table-border-style: 2px solid rgb(173, 173, 173);
  --unselectedTap: #b9e9ff;
}

table {
  /* border-collapse: collapse; */
  font-size: 30px;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  table-layout: fixed;
  border-spacing: 0px;
}

table > tbody tr td {
  border: var(--table-border-style);
  border-top: none;
  text-align: center;
  padding: 15px;
  border-radius: 0px 0px 13px 13px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.UserInfo {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.MainTableHead th.ActiveTab {
  border: var(--table-border-style);
  background-color: var(--unselectedTap);
}
.MainTableHead th.SpacingTH {
  border: none;
  border-bottom: var(--table-border-style);
  width: 1px;
}

.MainTableHead th {
  border: var(--table-border-style);
  border-bottom: none;
  border-radius: 13px 13px 0px 0px;
}

.MainTableHead {
  cursor: pointer;
}

.RegisterForm-input {
  border: none;
  border-bottom: var(--text-border-color) 1px dotted;
  box-sizing: border-box;
  outline: none;
}
.RegisterForm-input:focus {
  border-bottom: var(--text-border-color) 1px ridge;
}

input[type='submit'] {
  width: 80%;
  border: none;
  background: rgb(209, 209, 209);
  transition: background-color 0.2s ease-in-out;
  cursor: default;
  border-radius: 30px;
}
input[type='submit']:focus {
  border: none;
  outline: none;
}
input[type='submit'].Ready {
  background: rgb(135, 207, 255);
  cursor: pointer;
}
input[type='submit'].Ready:hover {
  background: rgb(89, 188, 255);
}
